{
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "none",
  "useTabs": false,
  "jsxBracketSameLine": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2
}
